::-webkit-scrollbar{
    width: 8px;
    background-color: #224d5a;

  }
  ::-webkit-scrollbar-thumb{
    background-color: #f7f7fd;

    border-radius: 25px;
} 

/* 








قنوات البيع
محليجديد
أدوات مساندة
خدمات التاجرجديد
الاعدادات
باقة المتجر
إعدادات المتجر
المحفظة والفواتير
مظهر المتجر
تصميم المتجر
صانع التطبيقات
متجر التطبيقات
التطبيقات المثبتة
زيارة متجر التطبيقات
تطبيق التاجر
 
الرجاء تأكيد البريد الإلكتروني (iugyu@gf.com)
ستصلك رسالة لتأكيد البريد الإلكتروني، في حال لم تصلك يرجى التحقق من البريد المهمل أو تعديل بريدك الإلكتروني من هنا
 */
