
 body
 {
   overflow-x: hidden;
   background-color: #fcfcfc;
   height: 100vh !important;
overflow:hidden ;
 }
 
 a
 {
    text-decoration: none;
 }

 li
 {
    list-style: none;
    /* Font Family:  */

 }

 *
 {
   font-family: PingARLT, serif;

 }


 
 .row 
 {
  left: 0;
  margin: 0;
  width: 100%;
 }

 .main-home 
 {
    width: 100%;
    /* padding:4% 3%; */
 }


 /* dashbord_admin */

 .dashbord_admin
 {
background-color:  rgba(0, 65, 77);
padding: 0px 15px;
height: 100vh !important;
overflow-y: scroll;
overflow-x: hidden;
 }

 /* user_name */

 .user_name
 {
   text-align: end;
   color: #fff;
}

/* vist_my_market */

.vist_my_market
{
   border: 1px solid hsla(0,0%,100%,.2);
   /* margin-right: 30%; */
   width: 60%;
   margin-right: auto;
    border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
 }

 

 .vist_my_market_icon
 {
background-color: hsla(0,0%,100%,.1);
padding: 5px;
width: 20px;
height: 20px;

border-radius: 50% 0% 0% 50%;

  }


.vist_my_market a
{
color: #fff;
 }


 /* index_link */

 .index_link a ,.index
 {
   color: #fff;
 }

.index_link .index
{
 
    font-size: 1.1rem;
    transition: .5s;
   padding: 5px 0px 5px 10px ; 
}
 
.index_link a 
{
    line-height: 30px;
    font-size: 1rem;
}
 
 .active 
 {
   background-color: #003c47;
   color: #73E7CC;
   padding: 7px 2px;
 }

 .active .index  
 {
   color: #73E7CC;

}


/* section_form */

 .section_form
 {
   background-color: #fff; 
   margin-top: 10px;
   height: 100vh !important;
overflow-y: scroll;
 }


.logo_project 
{
   text-align: center;
   border: dotted #cccccc 1px;
   padding: 40px 10px 20px 10px;
}
 
.form-select  
{
   color: #444;
}


.new_opation 
{
   background-color: #baf3e6;
   padding:4px 12px ;
   border-radius: 40px;
}

   

@media screen and (max-width:1350px) and (min-width:1200px) 
{
   .vist_my_market
{
   width: 80%;
 }
  
}



@media screen and (max-width:1200px) and (min-width:992px) 
{
   .vist_my_market
{
   width: 100%;
 }
  
}




@media screen and (max-width:992px) and (min-width: 768px)
{
 
/* vist_my_market */

.vist_my_market
{
   width: 100%;   
 }

 

 .vist_my_market_icon
 {
padding: 2px;
width: 15px;
height: 15px;

  }



  
}



@media screen and (max-width: 768px)
{
 
 body
 {
     height: auto !important;
overflow: auto;
 }
 

 /* dashbord_admin */

 .dashbord_admin
 {
 height: 100vh !important;
overflow-y: scroll;
overflow-x: hidden;
 }


 .section_form
 {
    height: auto!important;
overflow-y: auto;
 }

  
}



