
 body
 {
   overflow-x: hidden;
   background-color: #fcfcfc;
   height: 100vh !important;
overflow:hidden ;
 }
 
 a
 {
    text-decoration: none;
 }

 li
 {
    list-style: none;
    /* Font Family:  */

 }

 button
 {
   background-color: transparent;
   border: none;
   outline: none;
 }

 input,select
 {
   color: #666565;
   border: none !important;
   outline: none;
   font-family: inherit;
   font-size: 1.1rem;
 }

 select
 {
   font-size: 1rem !important;
 }

 input:focus
 {
    border: none !important;
 }

 input:active
 {
    border: none !important;
 }
 *
 {
   font-family: PingARLT, serif;

 }


 
 .row 
 {
  left: 0;
  margin: 0;
  width: 100%;
 }

 .main-home 
 {
    width: 100%;
    /* padding:4% 3%; */
 }


 /* dashbord_admin */

 .dashbord_admin
 {
background-color:  rgba(0, 65, 77);
padding: 0px 15px;
height: 100vh !important;
overflow-y: scroll;
overflow-x: hidden;
 }

 /* user_name */

 .user_name
 {
   text-align: end;
   color: #fff;
}

/* vist_my_market */

.vist_my_market
{
   border: 1px solid hsla(0,0%,100%,.2);
   /* margin-right: 30%; */
   width: 60%;
   margin-right: auto;
    border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
 }

 

 .vist_my_market_icon
 {
background-color: hsla(0,0%,100%,.1);
padding: 5px;
width: 20px;
height: 20px;

border-radius: 50% 0% 0% 50%;

  }


.vist_my_market a
{
color: #fff;
 }


 /* index_link */

 .index_link a ,.index
 {
   color: #fff;
 }

.index_link .index
{
 
    font-size: 1.1rem;
    transition: .5s;
   padding: 5px 0px 5px 10px ; 
}
 
.index_link a 
{
    line-height: 30px;
    font-size: 1rem;
}
 
 .active 
 {
   background-color: #003c47;
   color: #73E7CC;
   padding: 7px 2px;
 }

 .active .index  
 {
   color: #73E7CC;

}

 
 
/* section_main */


.section_main 
{
   background-color: #fff;
 height: 100vh !important;
overflow-y: scroll;
overflow-x: hidden;
}

/* products items */

.products_items
{
   border: 2px solid #eee;
padding: 6px;
}


/* inpts_Group  1*/

.inpts_Group
{
background-color: transparent;
border: 2px solid #eee;
border-radius: 6px;
/* padding: 3px 6px; */
display: flex;
align-items: center;
justify-content: center;
width: 90%;
}

.inpts_Group_icon
{
   font-size: 1.3rem;
   color: #adadad;
}

/* btns_data_and_more */

.btns_data_and_more 
{
/* text-align: center; */
   border: 2px solid #eee;
   border-radius: 5px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

 

.btn_more 
{
   border-right: 3px solid #eee;
   padding-right: 20%;
}




#container {
 

   width: 100%;
   height: auto;
   overflow-y: scroll;
   background-color: rgba(0, 0, 0,0.6);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
display: none;
   margin: 0 auto;
   /* text-align: center; */
   padding: 20px;


 }

 .dom_items 
 {
   background-color: #666565;
   margin: 2% 20%;
   
 }


 .header_title
 {
   padding:2% 2% 1% ;
   background-color: #baf3e6;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .header_title 
 {
   color: #56615a;
 }

 .header_title_icon_close 
 {
   font-size: 1.3rem;
   cursor: pointer;
 }


 /* order_details */

 .order_details 
 {
   background-color: #fff;
   padding: 10px;
 }

 .delivery_select
 {
    width: 100%;
   border: #000 1px solid;
   padding: 5px;
   border-radius: 2px;
   border: 2px solid #eee;

 }

 

 
 .delivery_select select
 {
   width: 100%;
   background-color: transparent;
 }


 /* Product weight*/

 .Product_weight ,.price_product
 {
   background-color: transparent;
   border: 2px solid #eee;
   border-radius: 6px;
   padding: 3px 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
 }

 .Product_weight_select
 {
   height: 100%;
   background-color: red;
   border-right: 1px solid #000;
 }



 /* Product_quantity */
 .Product_quantity
 {
   background-color: transparent;
   border: 2px solid #eee;
   border-radius: 6px;
   padding: 3px 6px;
   display: flex;
   align-items: center;
   justify-content: start;
   width: 100%;
 }

 .Product_quantity_select
 {
   width: 100%;
 }
 
/* media query  */
@media screen and (max-width:1350px) and (min-width:1200px) 
{
   .vist_my_market
{
   width: 80%;
 }
  
}



@media screen and (max-width:1200px) and (min-width:992px) 
{
   .vist_my_market
{
   width: 100%;
 }
  
}




@media screen and (max-width:992px) and (min-width: 768px)
{
 
/* vist_my_market */

.vist_my_market
{
   width: 100%;   
 }

 

 .vist_my_market_icon
 {
padding: 2px;
width: 15px;
height: 15px;

  }



  
}



@media screen and (max-width: 768px)
{
 
 body
 {
     height: auto !important;
overflow: auto;
 }
 

 /* dashbord_admin */

 .dashbord_admin
 {
 height: 100vh !important;
overflow-y: scroll;
overflow-x: hidden;
 }


 .section_form
 {
    height: auto!important;
overflow-y: auto;
 }

  
}



